<div class="page-content pl-5 pr-5 pt-2" id="content">
    {{>toggMenu}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bienvenido</h1>
            <hr class="my-4">
            <p>Inicia Sesión para ingresar a la plataforma</p>
        </div>
    </div>
</div>