<div class="page-content pl-5 pr-5 pt-2" id="content">
    {{>toggMenu}}
    <form action="/fr/save" method="post">
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <H2 class="text-center">DATOS COMERCIO</H2>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="RAZON SOCIAL" name="RAZONSOCIAL">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="NOMBRE DE FANTASIA"
                                name="NOMBREFANTASIA">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="CUIT" name="CUIT">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" placeholder="DOMICILIO LEGAL" name="DOMICILIOLEGAL">
                        </div>
                        <div class="form-group col-md-1">
                            <input type="text" class="form-control" placeholder="NUMERO" name="DOMICILIOLEGAL_NUM">
                        </div>
                        <div class="form-group col-md-1">
                            <input type="text" class="form-control" placeholder="PISO" name="DOMICILIOLEGAL_PISO">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="LOCAL/OFICINA/DPTO"
                                name="DOMICILIOLEGAL_L_O_D">
                        </div>
                        <div class="form-group col-md-1">
                            <input type="text" class="form-control" placeholder="NUMERO/LETRA"
                                name="DOMICILIOLEGAL_NUM_LETRA">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <input type="text" class="form-control" placeholder="CP" name="CODPOSTAL">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="CODIGO GEOGRAFICO"
                                name="CODGEOGRAFICO">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="LOCALIDAD" name="LOCALIDADCOMERCIO">
                        </div>
                        <div class="form-group col-md-1">
                            <input type="text" class="form-control" placeholder="DDN" name="DDNCOMERCIO">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="TELEFONO" name="TELEFONOCOMERCIO">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="CELULAR" name="CELULARCOMERCIO">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" placeholder="EMAIL" name="EMAILCOMERCIO">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="N° IIBB" name="NIIBB">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="RUBRO VISA" name="RUBRO">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="BANCO" name="BANCO">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="N° SUCURSAL" name="NSUCURSALBCO">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="N° CUENTA" name="NCUENTA">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="CBU" name="CBU">
                        </div>
                    </div>

                    <H2 class="text-center">DATOS CLIENTE</H2>

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="NOMBRE" name="NOMBREFIRMANTE">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="APELLIDO" name="APELLIDOFIRMANTE">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="DNI" name="DNIFIRMANTE">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="FECHA DE NACIMIENTO"
                                name="FECHANACIMIENTO">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="LUGAR DE NACIMIENTO"
                                name="LUGARNACIMIENTO">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="NACIONALIDAD"
                                name="NACIONALIDADFIRMANTE">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="SEXO" name="SEXOFIRMANTE">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="CUIL" name="CUILFIRMANTE">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="ESTADO CIVIL"
                                name="ESTADOCIVILFIRMANTE">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="DOMICILIO" name="DOMICILIOFIRMANTE">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <input type="text" class="form-control" placeholder="CP" name="CPFIRMANTE">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="TELEFONO" name="TELEFONOFIRMANTE">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="ACT. PRINCIPAL"
                                name="ACTPRINCIPALFIRMANTE">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="EMAIL" name="EMAILFIRMANTE">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#multiCollapseDATOSJURIDICOS" aria-expanded="false"
                                aria-controls="multiCollapseDATOSJURIDICOS">DATOS JURIDICOS</button>

                        </div>
                    </div>

                    <div class="collapse multi-collapse" id="multiCollapseDATOSJURIDICOS">
                        <H2 class="text-center">DATOS JURIDICOS</H2>
                        <div class="form-row">
                            <div class="form-group col-md-1">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" placeholder="FECHA CONTRATO CONSTITUTIVO"
                                    name="FECHACONTCONST">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" placeholder="FECHA DE INSCRIPCION REGISTRAL"
                                    name="FECHAINSCRIPREGIST">
                            </div>
                            <div class="form-group col-md-1">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" placeholder="NUMERO DE INSCRIPCION REGISTRAL"
                                    name="NUMEROINSCRIPREGIST">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" placeholder="ACT. PRINCIPAL"
                                    name="ACTPRINCIPALCOMERCIO">
                            </div>
                            <div class="form-group col-md-1">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" placeholder="SOCIOS" name="SOCIOS">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</div>
</div>
</div>

{{!-- DATOS COMERCIO --}}